/*Importing custom fonts*/
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* Basic reset */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 70px;
}
